<nav class="navigation" id="navigation">
    <div class="ContaineR">
      <div class="logo"><img src="C:\Users\Susha\Desktop\summer project\images\logo.png" alt="logo" width="80px" height="80px"></div>
      <ul class="navigation-links">
        <li style="background-color: #6fb4b6">home</li>
        <li style="background-color: #6fb4b6">register</li>
        <li style="background-color: #6fb4b6">about</li>
        <li style="background-color: #6fb4b6">contact</li>
        <a href="javascript:void(0);" class="icon" onclick="responsiveMenu()">
          <i class="fa fa-bars"></i>
        </a>
      </ul>
    </div>
</nav>