<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../styles/profile.css">
  <link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet'>
  <link rel="stylesheet" href="../profile.js">
  <link rel="stylesheet" href="public/css/profile.css">
  <link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet'>
  <script src="profile.js"></script>

  <title></title>
  <style>

  </style>
</head>

<body>
<<<<<<<< HEAD:views/profile.html
  <nav class="navigation" id="navigation">
  <div class="ContaineR">
    <div class="logo"><img src="../images/logo.png" alt="logo" width="80px" height="80px"></div>
    <ul class="navigation-links">
      <a href="./homepage.html"><li style="background-color: #6fb4b6">home</li></a>
      <a href=""><li style="background-color: #6fb4b6">register</li></a>
      <a href=""><li style="background-color: #6fb4b6">about</li></a>
      <a href=""><li style="background-color: #6fb4b6">contact</li></a>
      <a href="javascript:void(0);" class="icon" onclick="responsiveMenu()">
        <i class="fa fa-bars"></i>
      </a>
    </ul>
  </div>
</nav>
========
  <%- include("components/navbar"); -%>

>>>>>>>> ac2f27e (html to ejs):view/profilepage.ejs

  <div class="content">
    <div class="name">
      <input class="names" type="text" name="" value="" placeholder="Name"><br/>
    </div>
  </div>
  <div class="container">
    <div class="circle">

    </div>

    <p class="details">Your details:</p>
    <p>
    <form>
      <label class="email" for="">Email ID :&nbsp&nbsp&nbsp </label><input class="email-input" type="text" name="" value=""><br />
      <label class="email" for="">Ph.No. :&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </label><input class="email-input" type="text" name="" value=""><br>
      <label class="email" for="">Gender :&nbsp&nbsp&nbsp&nbsp </label><input class="email-input" type="dropdown" name="" value=""><br />
      <label class="email" for="">Age :&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </label><input class="email-input" type="text" name="" value=""><br>
      <label class="email" for="">DOB :&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </label><input class="email-input" type="text" name="" value=""><br>

    </form>
    </p>
    <br />
    <div class="title">

      <b>RECORDS</b></div>
    <div class="table">



    <table class="styled-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Points</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Dom</td>
          <td>6000</td>
          <td>6000</td>
        </tr>
        <tr class="active-row">
          <td>Melissa</td>
          <td>5150</td>
          <td>6000</td>
        </tr>
        <!-- and so on... -->
        <tr>
          <td>Dom</td>
          <td>6000</td>
          <td>6000</td>
        </tr>
        <tr class="active-row">
          <td>Melissa</td>
          <td>5150</td>
          <td>6000</td>
        </tr>
        <tr>
          <td>Dom</td>
          <td>6000</td>
          <td>6000</td>
        </tr>
        <tr class="active-row">
          <td>Melissa</td>
          <td>5150</td>
          <td>6000</td>
        </tr>
        <tr>
          <td>Dom</td>
          <td>6000</td>
          <td>6000</td>
        </tr>
        <tr class="active-row">
          <td>Melissa</td>
          <td>5150</td>
          <td>6000</td>
        </tr>
        <tr>
          <td>Dom</td>
          <td>6000</td>
          <td>6000</td>
        </tr>
        <tr class="active-row">
          <td>Melissa</td>
          <td>5150</td>
          <td>6000</td>
        </tr>
      </tbody>
    </table>
</div>
  </div>
  </div>

</body>

</html>
